[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Installing Metasploitable As a Virtual Machine | StackSkills
Type=Link
URL=https://stackskills.com/courses/learn-website-hacking-from-scratch/lectures/2737615
Icon=text-html
